<div class="selfie-capture">

  <div data-container-state="taking" class="selfie-capture__taking-state">
    <video data-el="sc-video-preview" id="video" autoplay playsinline></video>
    <button data-el="sc-capture-btn">📸 Take Selfie</button>
    <canvas data-el="sc-canvas" class="hidden"></canvas>
  </div>

  <div data-container-state="taken" class="selfie-capture__taken-state hidden">
    <img data-el="sc-photo" alt="Selfie Preview" />
    <button data-el="sc-proceed-btn">Use Selfie</button>
  </div>
</div>